* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.contentBlock {
    position: relative;
}

.cardsInfo {
    background: url('./bg.jpg')  no-repeat;
    background-size: cover;
}


